<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigate</title>
</head>
<body style="background-color: cadetblue;">
    <h1 style="text-align:center; margin-top: 25px; ">Welcome to navigation page</h1>
  <div style="display:flex; justify-content: center; ">
    <h3 style="text-align:center; margin-top: 25px; margin-right:15px; "><a href="/">Home</a></h3>
    <h3 style="text-align:center; margin-top: 25px;margin-right:15px; "><a href="/navigation/navigate/">Navigation</a></h3>
    <h3 style="text-align:center; margin-top: 25px;margin-right:15px; "><a href="/navigation/context/">Context</a></h3>
  </div>

  
  <h2 style="text-align: center;">{{Details}}</h2> -
  {% for i in Details %}
     <h2 style="text-align: center; color:white;">Name:{{i.name}} Age:{{i.Age}}</h2>
   {%endfor%}  
   <h2 style="text-align: center; ">---------</h2>
   <h2 style="text-align: center; ">{{list}}</h2>


    {% if  'Rakib' in list  %}
    <h4 style="text-align: center; " >Rakib is  exist in list</h4>
   
   

    {% else %}
     <h4 style="text-align: center; ">Rakib is not exist in list</h4> 
     {%endif%}  
    
</body>
</html>