<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: burlywood;">
    <h1 style="text-align:center; margin-top: 25px; color:blue;">Welcome to home page</h1>
    <h3 style="text-align:center; margin-top: 25px; "><a href="/">Home</a></h3>
    <h3 style="text-align:center; margin-top: 25px; "><a href="/navigation/navigate/">Navigation</a></h3>
    <h3 style="text-align:center; margin-top: 25px; "><a href="/navigation/context/">Context</a></h3>
</body>
</html>