{% extends "base.html "%}


{% block content%}
<h1 style="text-align: center; margin-top: 5px;">Welcome to Meal App</h1>
<div class="container">

    <div class="row gy-3 my-3">
        {% for i in meals %}
        <div class="col-sm-6 col-md-4">

            <div class="card">
                <img src="{{i.strMealThumb}}" class="card-img-top" alt="meal image">
                <div class="card-body">
                    <h5 class="card-title">{{i.strMeal}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    
                </div>
            </div>
        </div>
        {%endfor %}  
    </div>
</div>

{% endblock %}