<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1>This is get session page</h1>
    <h1>Session is getting...</h1>

    {% comment %} <h4>{{data}}</h4> {% endcomment %}

    {% comment %} {% for val in data%}

    <p> {{val.name}}</p>
    <p> {{val.age}}</p>

    {% endfor %} {% endcomment %}


    {% comment %} <p> {{data.get('name')}}</p> {% endcomment %}
    <p> {{name}}</p>
</body>
</html>